@page "/"

<PageTitle>FileHub</PageTitle>

<h1>Welcome to FileHub</h1>
<p>Share files with your friends, with a size per file up to 500 MB for free!</p>
<div class="row row-cols-7">
    <div class="card col-3">
        <div class="card-body">
            <h5 class="card-title">Share files</h5>
            <p class="card-text">You can share files with your friends</p>
            <a href="/ShareFiles" class="btn btn-primary">Share files</a>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="card col-3">
        <div class="card-body">
            <h5 class="card-title">Get shared files</h5>
            <p class="card-text">You can get access to your friends shared files</p>
            <label>Enter code</label>
            <input type="text" @bind-value="_groupId" />
            <NavLink href=@{$"DownloadOverview/{_groupId}"}><button class="btn btn-primary">Get files</button></NavLink>
        </div>
    </div>
</div>

@code {
    private string _groupId = string.Empty;
}