@page "/shareFiles"
@using FileHub.Service.Datahandling
@using FileHub.Frontend.Network
@using System.Net.WebSockets

<h3>Share Files</h3>
<p>You can upload up to @MaxAllowedFiles files and share them with your friends</p>
<InputFile OnChange="@LoadFiles" multiple />

@if (_isLoading)
{
    <p>Loading files...</p>
}
else
{
    <br /><br />

    @foreach (var file in _loadedFiles)
    {
        <b>@file.Name</b>
        <p>
            Size (bytes): @file.Size
            <br />
            Content type: @file.ContentType
        </p>
    }

    @if (_loadedFiles.Any())
    {
        <button class="btn btn-primary" @onclick="UploadFiles">Start file upload</button>
        <br />
    }
}

@code {
    private readonly List<IBrowserFile> _loadedFiles = new();
    private const int MaxAllowedFiles = 5;
    private bool _isLoading;

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        _isLoading = true;
        _loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles(MaxAllowedFiles))
        {
            try
            {
                _loadedFiles.Add(file);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"File: {file.Name} Error: {ex.Message}");
            }
        }

        _isLoading = false;
    }

    private async Task UploadFiles()
    {
        IBinaryDataHandler data = new MockBinaryDataHandler();
        WebsocketClient client = new(new ClientWebSocket());
        
        await client.Connect("ws://localhost:8080/data/send/1/2");
        client.Send(data);
        client.Close();
    }
}