@page "/shareFiles"

<h3>Share Files</h3>
<p>You can upload up to @maxAllowedFiles files and share them with your friends</p>
<InputFile OnChange="@LoadFiles" multiple />

@if (isLoading)
{
    <p>Loading files...</p>
}
else
{
    <br /><br />

    @foreach (var file in loadedFiles)
    {
        <h4>@file.Name</h4>
        <p>
            Size (bytes): @file.Size
            <br />
            Content type: @file.ContentType
        </p>
    }

    @if (loadedFiles.Any())
    {
        <button class="btn btn-primary">Start file upload</button>
    }
}

@code {
    private List<IBrowserFile> loadedFiles = new();
    private int maxAllowedFiles = 10;
    private bool isLoading;

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        var files = e.GetMultipleFiles(maxAllowedFiles);

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                loadedFiles.Add(file);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"File: {file.Name} Error: {ex.Message}");
            }
        }

        isLoading = false;
    }
}