@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="/" class="logoLink"><img alt="FileHub Logo" class="logo" src="assets/logo.png"/></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>